* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Archivo', 'Poppins', sans-serif;
  width: 100vw;

  background: #F0F0F7;
}
.content {
  position: relative;
  width: 1440px;
  height: 2425px;  
}
.topo {
  position: absolute;
  width: 1440px;
  height: 368px;

  background: #00539B;
}
.topo img {
  position: absolute;
  width: 124px;
  height: 28.38px;
  margin: 39.62px 0 0 1234px;
}
.topo h1 {
  position: absolute;
  width: 710px;
  height: 84px;
  margin: 80px 0 0 352px;

  font-family: 'Archivo';
  font-style: normal;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 2.6rem;

  color: #FFFFFF;
}
.topo h3 {
  position: absolute;
  width: 283px;
  height: 52px;
  margin: 188px 0 0 352px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6rem;

  color: #FFFFFF;
}
.data-form {
  position: absolute;
  width: 736px;
  height: 2051px;
  margin: 304px 0 0 352px;

  background: #FFFFFF;
  border: 1px solid #E0E0FF;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 12px;
}
.data-form h2 {
  position: relative;
  width: 131px;
  height: 34px;
  margin: 66px 0 0 64px;

  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 34px;

  color: #32264D;
}
.data-form .separator-data {
  position: absolute;
  width: 608px;
  height: 0px;
  margin: 116px 0 0 64px;

  border: 1px solid #c7c7ce;
}
.data-form label {
  position: relative;
  width: 145px;
  height: 24px;
  margin: 14px 0 0 64px;
  
  display: inline-block;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 24px;

  color: #9C98A6;

}
.data-form span {
  position: relative;
  width: 183px;
  height: 20px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 20px;

  color: #C1BCCC;

}
.data-form #one {
  margin-left: -15px;
}
.data-form #two {
  margin-left: -60px;
}
.data-form #three {
  width: 208px;
  margin-left: 10px;
}
.data-form input {
  position: relative;
  width: 608px;
  height: 56px;
  margin: 6px 0 0 64px;
  padding: 8px;
  
  background: #FAFAFC;
  border: 1px solid #c9c9c9;
  border-radius: 8px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 24px;
  text-transform: uppercase;

  color: #9797a7;
}
.down {
  position: absolute;
  width: 736px;
  height: 154px;
  margin: 2340px 0 0 352px;

  background: #E0E0FF;
  border: 1px solid #E0E0FF;
  border-radius: 0 0 8px 8px;
}
.down img {
  position: absolute;
  width: 32px;
  height: 36.13px;
  margin: 58.71px 0 0 64px;
}
.down span {
  position: absolute;
  width: 153px;
  height: 45.16px;
  margin: 54.10px 0 0 112px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 0.78rem;
  line-height: 20px;

  color: #9797a7;
}
.down button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 40px;

  position: absolute;
  width: 197px;
  height: 56px;
  margin: 45.16px 0 0 475px;

  background: #04D361;
  border: 0.0625rem solid #E0E0FF;
  border-radius: 8px;

  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  font-size: 0.99375rem;
  line-height: 26px;

  color: #FFFFFF;

}
.down button:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  border: 1.2px solid #04d361;  
}
.line-separator {
  position: absolute;
  width: 736px;
  height: 0px;
  margin: 2338px 0 0 352px;

  border: 0.0625rem solid hsla(240, 58%, 53%, 0.949)
}
.rodape {
  position: absolute;
  width: 396px;
  height: 23px;
  margin: 2520px 0 0 582px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 1.25rem;
  color: #6c757d;

  display: inline-block;
  align-content: center;
}

